@import './cmps/hero';
@import './cmps/footer';
@import './cmps/highlight';
@import './cmps/highlightpreview';
@import './cmps/family';
@import './cmps/ready';
@import './cmps/info';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Spartan', sans-serif;
}

.app {
    width: 1440px;
    margin: 0 auto;
}

button {
    border: none;
    cursor: pointer;
}

@media (max-width: 375px) {
    .app {
        width: 375px;
    }
}