.hero-box {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    padding: 250px 0 200px;
}

.hero-outer-box {
    width: 1440px;
    margin: 0 auto;
    background-color: #17192B;
}

.hero-left-box {
    width: 520px;
    z-index: 1;

    p {
        width: 450px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.225px;
        color: #FFFFFF;
        margin-bottom: 40px;
    }

    button {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 2px;
        color: #FFFFFF;
        border: 1px solid white;
        padding: 15px 35px;
        background-color: transparent;
    }

}

.hero-img-mobile {
    display: none;
}

.hero-img-desktop {
    display: block;
    position: absolute;
    width: 1000px;
    height: 850px;
    object-fit: cover;
    right: 0;
    top: 0;
}

.hero-right-box {}

.hero-heading {
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.8px;
    color: #FFFFFF;
}

.top-logo {
    position: absolute;
    top: 100px;
}

@media (max-width: 375px) {

    .hero-outer-box {
        width: 375px;
        background-image: url('../../img/hero-bg-mobile.jpg');
        background-repeat: no-repeat;
        background-position-y: -20px;
        z-index: 1;
    }

    .hero-box {
        width: 375px;
        margin: 0 auto;
        padding-bottom: 135px;
    }

    .hero-img-desktop {
        display: none;
    }

    .hero-img-mobile {
        // display: block;
        width: 375px;
        height: 200px;
        position: absolute;
        object-fit: cover;
        left: 0;
        top: 0;
    }

    .hero-left-box {
        width: 330px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-weight: 300;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            letter-spacing: -0.4px;
            color: #FFFFFF;
        }

        p {
            margin-right: 10px;
            width: 330px;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            letter-spacing: -0.1875px;
            color: #FFFFFF;
        }

        button {
            padding: 25px 55px;
        }
    }
    .top-logo {
        position: absolute;
        top: 195px;
        left: 135px;
    }
}