.highlight-outer-box {
    width: 1440px;
    margin: 0 auto;
    background-color: #111111;
}

.highlight-box {
    width: 1110px;
    margin: 0 auto;
    padding: 250px 0 120px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.highlight-left-box {
    width: 445px;

    h1 {
        margin-top: 0;
        width: 430px;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -0.5px;
        color: #FFFFFF;
    }

    p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.225px;
        color: #FFFFFF;

    }
}

.highlight-right-box {
    width: 540px;
}

.highlight-box-line {
    position: absolute;
    top: 180px;
}

@media (max-width: 375px) {
    .highlight-outer-box {
        width: 375px;
    }

    .highlight-box {
        width: 330px;
        margin-right: 30px;
        padding: 150px 0 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .highlight-left-box {
        width: 330px;

        h1 {
            width: 330px;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            letter-spacing: -0.4px;
            color: #FFFFFF;
        }

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            letter-spacing: -0.1875px;
            color: #FFFFFF;
            margin-bottom: 64px;
        }
    }

    .highlight-box-line {
        position: absolute;
        top: 100px;
    }

    .highlight-right-box {
        width: 330px;
    }
}