.ready-outer-box {
    width: 1440px;
    margin: 0 auto;
    background-image: url('../../img/ready-bg-desktop.jpg');

}

.ready-box {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 90px 0;

    h1 {
        margin: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -0.5px;
        color: #FFFFFF;

    }

    button {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 2px;
        color: #FFFFFF;
        border: 1px solid white;
        padding: 15px 35px;
        background-color: transparent;
    }
}

@media (max-width: 375px) {

    .ready-outer-box {
        width: 375px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: -290px;
    }

    .ready-box {
        width: 330px;
        flex-direction: column;
        align-items: center;

        h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            letter-spacing: -0.4px;
            color: #FFFFFF;
        }

        button {
            margin-top: 20px;
            padding: 25px 45px;
        }
    }

}